@model NovelV1._1.Models.DTO.TaiKhoan
@{
    ViewBag.Title = "Log in";
}
<style>
    #main-header,
    #main-footer,
    #myBtn {
        display: none;
    }

    input {
        padding: 1.4rem;
        border: 1.5px solid #afafaf;
        border-radius: 0.4rem;
    }
</style>
<div class="modal-Login-dialog">
    <div class="modal-Login">
        <div class="modal-container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <header class="modal-header">
                    Đổi Mật Khẩu
                </header>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="text-align:center;color:red;font-size:1.2rem;font-weight:bold;">
                            <label>@ViewBag.Notification</label>
                        </div>
                    </div>
                    <div class="container-login">
                        <div class="input-container">
                            @*                            @Html.TextBox("email","",new { @placeholder = "Email Xác Nhận" })*@
                            @Html.EditorFor(model => model.TaiKhoan_email, new { htmlAttributes = new { @placeholder = "Email Xác Nhận" } })
                            @Html.ValidationMessageFor(model => model.TaiKhoan_email, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="container-login-btn">
                            <button class="btn-submit">
                                Xác Nhận Email
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<style>
    .fb {
        background-color: #3B5998;
        color: white;
        padding: 1rem;
        text-decoration: none;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

